body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url(images/rock-paper-scissors.jpg);
    justify-content: center;
    background-size: cover;
    font-size: larger;
}

h2 {
    color: rgb(226, 143, 40);
    text-decoration: underline;
}

.container {

    background-color: rgba(34, 33, 33, 0.527);
    height: 90%;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

#playBtn {
    background-color: rgb(25, 145, 45);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: larger;
    top: 50%;
    left: 40%;
    height: 10%;
    width: 30%;
    margin-bottom: 10%;
    font-weight: 600;
}
#resetBtn{
    background-color: rgb(145, 43, 25);
}
button {
    border: 0px;
    padding: 10px;
    border-radius: 3px;
    color: aliceblue;
    box-shadow: 0 9px #e4dddd;
    text-align: center;
    cursor: pointer;
    outline: none;
}

#playBtn:hover,#resetBtn:hover {
    background-color: #5b0ba5ea
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #ada9a9;
    transform: translateY(4px);
}

.buttonArea {
    margin: auto;
    margin-top: 0;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#result-el {
    color: aliceblue;
    ;
}

.resultArea {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    text-align: center;
}
.imageArea{
   text-align: center;
}
img{
    max-height: 300%;
}